{% extends 'base.html.twig' %}

{% import "portfolio/components/section-title.html.twig" as macro %}

{%- block title -%}Oskar Barcz{%- endblock -%}

{%- block stylesheets -%}
    {{ encore_entry_link_tags('portfolio') }}
{% endblock %}

{%- block body -%}
    {% include 'portfolio/navigation.html.twig' %}
    <div class="about-me"></div>
    <div class="sections-container">
        <section class="section">
            {{ macro.section_titile("Stack") }}
            <div class="section__content">Tutaj będzie content</div>
        </section>
        <section class="section">
            {{ macro.section_titile("Projekty") }}
            <div class="section__content">Tutaj będzie content</div>
        </section>
        <section class="section">
            {{ macro.section_titile("Usługi") }}
            <div class="section__content">Tutaj będzie content</div>
        </section>
        <section class="section">
            {{ macro.section_titile("Kontakt") }}
            <div class="section__content">Tutaj będzie content</div>
        </section>
    </div>
{%- endblock -%}
